/* 

   Color Palette:
   ---------------
   Red:				#D80602
   White:			#FDFCF6
   Grey:			#3A3838
   =============================== */

/* General */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic);
@import url(https://fonts.googleapis.com/css?family=Knewave);

* {
	margin: 0;
	padding: 0;
}

body {
	background: #F2F2F2;
	color: #000;
	font-size: 14px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.top-container {
	width: 1024px;
	height: 200px;
	margin: 0 auto;
	background-image: url("../images/Swedish_logo.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.main-content {
	width: 894px;
	margin: 0 auto;
	padding: 40px 65px;
	background: #FDFCF6;
}

/* Typography */

h1 {
	color: #D80602;
	font-size: 71px;
	font-weight: 400;
	font-family: 'Knewave', cursive;
	line-height: 71px;
	padding: 0 0 50px;
}

h2 {
	color: #000;
	font-size: 45px;
	font-weight: 400;
	font-family: 'Knewave', cursive;
	line-height: 50px;
	padding: 0 0 20px;
}

/* Header */

header {
	width: 675px;
	float: right;
}

#angled-border {
	width: 0; 
	height: 0; 
	border-left: 70px solid transparent;
	border-top: 78px solid #FDFCF6;
	float: left;
	
}

header nav {
	background: #FDFCF6;
	width: 605px;
	text-align: right;
	float: right;
}

header nav ul {
	margin: 0 45px 0 0;
	padding: 0;
	list-style: none;
	display: block;
	line-height: 75px; 
}

header nav ul li {
	display: inline-block;
	padding: 0 17px;
}

header nav ul li a {
	font-family: 'Knewave', cursive;
	color: #D80602;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 23px;
}

.active {
	border-bottom: 4px solid #D80602;
}

header nav ul li a:hover {
	color: #A80401;
	padding-top: 20px;
	text-decoration: none;
}

/* Footer */

footer {
	width: 894px;
	margin: 0 auto;
	padding: 20px 65px;
	background: #3A3838;
	color: #FDFCF6;
	font-size: 17px;
	line-height: 25px;
	position: relative;
}

footer a {
	color: #FDFCF6;
}

footer a:hover {
	color: #EEEAD4;
}

.footer-right {
	position: absolute;
	top: 20px;
	right: 65px;
}

/* Home Page */

.home {
	position: relative;
}

.home p {
	font-size: 28px;
	line-height: 40px;
}

#text-left {
	width: 455px;
	margin-bottom: 50px;
}

#img-right {
	position: absolute;
	top: 10px;
	right: 0;
}

#img-left {
	float: left;
	margin-right: 75px;
}

#text-bottom {
	margin-top: 50px;
}



/* Hours & Location Page */

.hours-location p {
	font-size: 28px;
}

.hours-location li {
	font-size: 28px;
	list-style: none;
}

.hours-location ul {
	margin-bottom: 50px;
}

.hours-location .hour-list {
	width: 380px;
	text-align: right;
}

.hours-location .hour-list span {
	float: left;
}

